body {
    background-color: #f2eeeb;
}

html {
    scroll-behavior: smooth !important;
}

#woodworking {
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 20vh;
    padding-top: 10vh;
}

.wwheader {
    text-align: right;
}

.wwcontainer {
    color: #145374;
    font-family: 'Monsterrat', sans-serif;
    font-size: 50px;
    font-weight: 600;
}

.wwwidget {
    display: flex;
    justify-content: center;
}

.aboutww {
    color: #3d3d3d;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
    padding-top: 5vh;
}

.skillscontainer {
    padding-top: 5vh;
    padding-bottom: 40vh;
}

.skillshead {
    color: #145374;
    display: flex;
    justify-content: space-around;
    font-family: 'Monsterrat', sans-serif;
    font-size: 50px;
    font-weight: 600;
    padding-top: 15vh;
}

.col {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif;
    color: #3d3d3d;
    font-size: 30px;
    font-weight: 400;
    padding-left: 9w;
    padding-right: 9vw;
}

.amcontainer {
    font-family: 'Monsterrat', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #145374;
    padding-top: 10vh;
}

.firstamsection {
    color: #3d3d3d;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 1vh;
}

.amphotosection {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 10vh;
}

#resume {
    font-family: 'Monsterrat', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #145374;
    padding-top: 80px;
}

.downloadtag {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #3d3d3d;
    display: flex;
    justify-content: center;
}

.resumedoc {
    display: flex;
    justify-content: center;
}

.contactcontainer {
    font-family: 'Monsterrat', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #145374;
    padding-bottom: 0px;
    padding-top: 10vh;
}