body {
    background-image: url('../assets/bluewoodbgd.png');
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth !important;
}

#woodworking {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 40vh;
    padding-top: 10vh;
}

.wwcontainer {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 400;
}

.aboutww {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

.skillscontainer {
    padding-top: 5vh;
    padding-bottom: 40vh;
}

.skillshead {
    color: white;
    display: flex;
    justify-content: space-around;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 400;
    padding-top: 20vh;
}

.col {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 300;
    padding-left: 9w;
    padding-right: 9vw;
}

.amcontainer {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 400;
    color: white;
    padding-top: 10vh;
}

.firstamsection {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 1vh;
}

.amphotosection {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20vh;
}

#resume {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 400;
    color: white;
    padding-top: 80px;
}

.downloadtag {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: white;
    display: flex;
    justify-content: center;
}

.resumedoc {
    display: flex;
    justify-content: center;
}

.contactcontainer {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 400;
    padding-top: 10vh;
    padding-bottom: 0px;
}