#contact {
    color: #145374;
    margin-top: 300px;
    margin-bottom: 100px;
    padding-left: 300px;
    padding-right: 300px;
}

.inputLabels {
    color: #3d3d3d;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.inputFields {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 200;
}

.submitField {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 200;
    display: flex;
    justify-content: center;
}