.footer {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color: #3d3d3d;
}

.SocialMedia {
    font-family: 'Raleway', sans-serif;
    color: #145374;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
}

.icon {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: #145374;
}

.icon :hover,
.icon :focus,
.icon :active,
.icon :link,
.socialicons>a:hover {
    transition: all 0.2s ease-in-out;
    color: #5087a5 !important;
    text-decoration: none;
}
