.jumbotron {
    background: url('../assets/brown-close-up-hd-wallpaper-172289.png') no-repeat center;
    background-size: cover;
    background-color: black !important;
    color: #f2eeeb;
    text-align: center;
    padding: 18vh;
}

.display {
    font-size: 130px;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 700;
    text-shadow: -2px -2px 8px #000000;
    padding-top: 5px;
}    

.eagle {
    margin-top: 70px;
}

.subdisplay {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-shadow: -2px -2px 8px #000000;
    margin-top: 80px;

}

.container {
    padding-top: 5px;
}