.navbar {
    height: 70px;
    font-family: 'Raleway', sans-serif;
}

.navbarnav{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 20px;
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    margin-right: 2vw;
}

.nav-link {
    color: white;
    border-radius: 5px;
}

.nav-link:hover {
    color: var(--darkgray);
    font-family: 'Raleway', sans-serif;
    background-color: white;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
}

.navbar-brand {
    font-family: 'Monsterrat', sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-left: 2vw;
}

.navbar-brand:hover {
    color: gray !important;
    transition: all 0.2s ease-in-out;
}

.nav-link {
    margin-top: 20px;
}