.navbar {
    height: 70px;
    font-family: 'Roboto', sans-serif;
}

.navbarnav{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 20px;
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    margin-right: 2vw;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: var(--darkgray);
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 400;
    margin-left: 2vw;
}

.navbar-brand:hover {
    color: gray !important;
}

.nav-link {
    margin-top: 20px;
}