.card{
    max-width: 330px;
    margin: 25px;
}

.card-deck {
    display: flex !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
    padding: 100px;
    padding-top: 5vh;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.projectshead {
    color: #145374;
    font-family: 'Roboto Slab', serif;    
    font-size: 50px;
    font-weight: 400;
    padding-top: 13vh;
    padding-left: 155px;
    margin-bottom: -50px !important;
}

h5 {
    font-family: 'Roboto', sans-serif;   
    color: #f2eeebe6 !important; 
    font-weight: 600;
    font-size: 25px;
    margin-top: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #f2eeebe6 !important;
    margin: 0;
    padding: 0;
}

.card-img-top:hover{
    opacity: 0.8 !important;
    transition: all 0.2s ease-in-out;
}

.btn {
    background-color:#145374;
    font-family: 'Roboto', sans-serif;    
    font-size: 18px;
    border: none !important;
}

.btn:hover{
    background-color: #296788;
    color: #f2eeebe6;
}
