.projectscontainer {
    color: gray;
    display: flex;
    justify-content: space-around;
    padding: 100px;
    padding-top: 5vh;
    padding-bottom: 23vh;
}

.projectshead {
    color: #145374;
    justify-content: center;
    font-family: 'Monsterrat', sans-serif;
    font-size: 50px;
    font-weight: 600;
    padding-top: 13vh;
    padding-left: 155px;
}

.card-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.card {
    align-items: center;
}

.card-img-top:hover{
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

.btn {
    background-color:#145374;
    border-color: gray;
    border-width: 2px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    align-content: center;
}

.btn:hover{
    background-color: gray;
    color: #f2eeeb;
    border-color: #145374;
}
